*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

node_modules/
bower_components
tmp/
public/
.bundle/
log/*.log
tmp/

*.sublime-workspace